@font-face {
    font-family: 'socicon';
    src: url('../font/socicon.eot');
    src: url('../font/socicon.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon.woff') format('woff'),
         url('../font/socicon.ttf') format('truetype'),
         url('../font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}


html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Times, serif; 
  font-size: 1.5vw
}

h1, h2, h3, h4, ul {
	margin: 0;
	padding: 0;
	font-family: 'jaf-facitweb', 'Helvetica Neue';
}

p {
	margin: 0;
	padding: 0;
}


.content {
	width: 80vw;
	padding: 5vh;
	z-index: 5555;
}

.content.overlay {
	position: absolute;
}

#footer .content{
	padding: 10vw;
}

.content.longtext {
	font-size: 3vw;
	font-weight: 200;
	line-height: 4vw;
	padding: 10vw;
}

.content.longtext h2{
	font-size: 5vw;
	font-weight: 800;
	margin: 0 0 5vh 0;
}

#menu {
	position: fixed;
	top: 37.5vh;
	right: 0;
	z-index: 9999;
}

#menu ul {
	text-align: right;
	list-style-type: none;
}

#menu li {
	background-color: none;
	font-size: 2vh;	
	padding: 0.5vh 0 0.5vh 0;
}

#menu li a{
	background-color: #4d6b74;
	text-decoration: none;
	color: #f8ab4b;
	padding: 0.6vh;
}

#menu li a:hover{
	color: #fff;
}

#intro {
	background-color: red;
}

#intro .content{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 39vh;
	text-align: left;
	z-index: 999;
	text-shadow: 0.1vw 0.1vw 6vw #4d6b74;;
}

#intro .content h1{
	font-size: 9vh;
	font-weight: 600;
	color: #f8ab4b;
	margin: 0;
	/*outline
  	-webkit-text-stroke-color: #f8ab4b;
  	-webkit-text-stroke-width: 0.2vw; */
}

#intro .content h2{
	font-size: 4vh;
	font-weight: 800;
	color: #000;
	margin: 0;
}

#background {
	background-color: #f8ab4b;
	color: #3d5961;
}

#cars {
	background-color: #3d5961;
	padding: 0 0 7.5vw 0;
}

#cars .content {
  margin: 32vh 0 0 7.5vw;
  padding: 2.5vw;
  width: 80vw;
  z-index: 5555;
  position: inherit;
}

#cars .content.headline{
	margin-top: -93vh;
	background-color: none;
	padding: 0;
	color: #f8ab4b;
}

#cars .content.headline h2{
font-size: 5vw;
}

#cars .content.text{
   background-color: #f8ab4b;
   color: #3d5961;
   font-size: 3vw;
	font-weight: 200;
	line-height: 4vw;
}


#cars .fadeout {
  margin: -69.8vh 0 0 0;
  width: 100vw;
  height: 70vh;
  /* background-color: blue; */
  background-image: url(../media/fadeout.png);
  background-size: contain;
  z-index: 5500;
  position: absolute;
}

#infographic {
	background-color: #f8ab4b;
	color: #3d5961;
}

#infographictwo {
	background-color: #f8ab4b;
	color: #3d5961;
}

#following {
	background-color: #f8ab4b;
	color: #3d5961;
}

#closing {
	background-color: #3d5961;
	color: #f8ab4b;
}

#footer {
	background-color: #f8ab4b;
	color: #3d5961;
}


.page {
	width: 100%; 
	margin: auto; 
	  position: relative;
	/*
	min-height: 100%; 
	height: auto !important;
	height: 100%;*/
}

.footer01 {
	float: right;
}

.footer01 a{
	color: #3d5961;
	text-decoration: none;
}

.footer01 p {
	display: inline;
	vertical-align: 3.4vw;
}

.socialmedia{
	font-family: 'socicon'  !important;
	font-size: 5vw;
	margin: 0 0 0 2vw;
}


/* Seitenverhältnis HOCH -------------- */

@media all and (max-aspect-ratio: 3 / 2) {

#intro .content h1{
	font-size: 6vw;
	margin: 0;
}

#intro .content h2{
	font-size: 2.666vw;
	margin: 0;
}

#menu li {
	font-size: 1.333vw;	
	padding: 0.333vw 0 0.333vw 0;
}

#menu li a{
	padding: 0.333vw;
}

}
/* Image Background Fullscreen -------------- */

.graphic-container{
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: 0;
}

.graphic-container img{
	position: absolute;
	height: 100vh;
	margin-left: 50vw;
	margin-top: 0;
	transform: translateX(-88.888vh);
	-webkit-transform: translateX(-88.888vh);
}


/* VIDEO Background Fullscreen -------------- */

.video-container{
	position: relative;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	background-color: #3d5961;
	overflow: hidden;
	z-index: 0;
}

video {
	position: absolute;
	z-index: 0;
}

#intro video {
	position: fixed;
	z-index: 10;
	-webkit-filter: opacity(0.7);
 	filter: opacity(0.7);

}

#cars video {
	z-index: 5;
  	position: fixed;
  	top: 0;
  	left: 0;
}

#cars .video-container {
	height: 130vh;
}

video.mov-fullscreen{
	height: 100vh;
	margin-left: 50vw;
	margin-top: 0;
	transform: translateX(-88.888vh);
	-webkit-transform: translateX(-88.888vh);
	/*
	-webkit-filter: sepia(1) hue-rotate(156deg) opacity(0.5);
 	filter: sepia(1) hue-rotate(156deg) opacity(0.5);
 	*/
}

@media all and (min-aspect-ratio: 16 / 9) {

video.mov-fullscreen{
	width: 100vw;
	height: auto;
	margin-left: 0;
	margin-top: 50vh;
	transform: translateY(-28.125vw);
	-webkit-transform: translateY(-28.125vw);
}

.graphic-container img{
	width: 100vw;
	height: auto;
	margin-left: 0;
	margin-top: 50vh;
	transform: translateY(-28.125vw);
	-webkit-transform: translateY(-28.125vw);
}

}
